{% extends 'base.html'%} {% block head %}
<title>Charts for product</title>
{% endblock %} {% block body %}
<input type="hidden" id="firstChartData" value="{{firstChartData}}" />
<input type="hidden" id="secondChartData" value="{{secondChartData}}" />
<div class="flex flex-col items-center my-5 relative">
	<a
		href="/product/{{request.view_args.id}}"
		class="bg-[#4392F1] absolute ml-4 py-2 px-4 text-md text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200 self-start"
		>Go back</a
	>
	<h2 class="text-3xl font-bold text-[#344055] my-5">Charts</h2>
	<p class="text-xl text-[#344055] mb-5">
		The first pie chart shows us corresponding recommendation to total
		recommendation count ratio
	</p>
	<div class="w-[30rem] h-[30rem]">
		<canvas class="w-[40rem]" id="firstChart"></canvas>
	</div>
	<p class="mt-10 mb-5 text-xl text-[#344055">
		The second bar chart shows us how many of each amount of stars was given to
		the current product
	</p>
	<div class="w-[40rem]">
		<canvas class="w-[40rem]" id="secondChart"></canvas>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	const firstChartData = JSON.parse(
		document.querySelector("#firstChartData").value
	);
	const firstChartConfig = {
		type: "pie",
		data: {
			labels: Object.keys(firstChartData),
			datasets: [
				{
					label: "Positive/Negative opinions",
					backgroundColor: ["rgba(67,146,241, .3)", "rgba(254,95,85 ,.3)"],
					borderColor: ["rgba(67,146,241, 1)", "rgba(254,95,85 ,1)"],
					borderWidth: 1,
					data: Object.values(firstChartData),
				},
			],
		},
		options: {},
	};
	const firstChart = new Chart(
		document.getElementById("firstChart"),
		firstChartConfig
	);

	const secondChartData = JSON.parse(
		document.querySelector("#secondChartData").value
	);
	const secondChartConfig = {
		type: "bar",
		data: {
			labels: Object.keys(secondChartData),
			datasets: [
				{
					label: "Positive/Negative opinions",
					backgroundColor: ["rgba(67,146,241, .3)", "rgba(254,95,85 ,.3)"],
					borderColor: ["rgba(67,146,241, 1)", "rgba(254,95,85 ,1)"],
					borderWidth: 1,
					data: Object.values(secondChartData),
				},
			],
		},
		options: {},
	};
	const secondChart = new Chart(
		document.getElementById("secondChart"),
		secondChartConfig
	);
</script>
{% endblock %}
