{% extends 'base.html'%} {% block head %}
<title>Extract opinions</title>
{% endblock %} {% block body %}
<div class="flex flex-col items-center">
	<h2 class="text-3xl font-semibold text-[#344055]">
		Enter the product's id and start extracting!
	</h1>
  <form action="/extract" method="POST" class="flex flex-col items-center mt-4">
    <input class="border-2 border-[#B8C0D8] w-[25rem] h-[2.5rem] rounded-md px-2 py-1" placeholder="Enter the id..." type="text" name="productId">
    <button class="bg-[#4392F1] py-2 px-10 text-2xl text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200" type="submit">Extract</button>
  </form>
</div>

{% endblock %}
