{% extends 'base.html'%} {% block head %}
<title>Scrapify | Extract and analize opinions!</title>
{% endblock %} {% block body %}
<div class="grid sm:grid-cols-2 my-10 items-center px-5">
	<!--cta section start-->
	<div class="flex sm:items-start flex-col items-center">
		<h1 class="text-4xl sm:text-left text-center font-bold text-[#344055]">
			Extract opinions about your beloved products from Ceneo.pl
		</h1>
		<a
			class="bg-[#4392F1] py-2 px-4 text-2xl text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200"
			href="/extraction"
			>Get started!</a
		>
	</div>
	<div class="p-10 sm:block hidden">
		<img src="{{url_for('static', filename='img/illustration-1.svg')}}" />
	</div>
</div>
<!--cta section end-->
<div class="flex flex-col items-center my-20">
	<h2 class="text-3xl font-semibold">
		<span class="text-[#4392F1]">What</span> is Scrapify?
	</h2>
	<p class="text-xl text-[#344055] w-[70%] text-center mt-2">
		Scrapify - web app that allows you to extract opinions about any product
		from Ceneo.pl. All you need to know is a product's id. We will do the rest
		for you. We provide you with all neccessary data about the opinions on the
		chosen product, including analitical charts that will help you decide,
		whether to buy something or not.
	</p>
	<h2 class="text-3xl font-semibold mt-10">
		<span class="text-[#4392F1]">How</span> it was built?
	</h2>
	<p class="text-xl text-[#344055] w-[70%] text-center mt-2">
		Scrapify was built using such frameworks and libraries as:
		<ul class="py-5 flex flex-wrap justify-center text-[#344055]">
			<li class="mr-4 text-2xl font-semibold">Flask</li>
			<li class="mr-4 text-2xl font-semibold">TailwindCSS</li>
			<li class="mr-4 text-2xl font-semibold">ChartJs</li>
			<li class="mr-4 text-2xl font-semibold">Pandas</li>
			<li class="mr-4 text-2xl font-semibold">Flask table</li>
			<li class="text-2xl font-semibold">Beautiful Soup</li>
		</ul>
		
	</p>
	<p class="text-xl text-[#344055] w-[70%] text-center mt-2">
		The app is based upon object-oriented programming concepts.
		What is more, Scrapify uses a local SQLite database to store all the extracted data.
	</p>
</div>


{% endblock %}
