{% extends 'base.html'%} {% block head %}
<title>Product {{productId}}</title>
{% endblock %} {% block body %}
<div class="flex flex-col items-center px-5 py-10">
	<table class="text-sm border-1 border-[#B8C0D8] text-center">
		<tr>
			<th>id</th>
			<th>Author</th>
			<th>Opinion</th>
			<th>Rating</th>
			<th>Confirmed purchase</th>
			<th>Review date</th>
			<th>Purchase date</th>
			<th>Usefulness</th>
			<th>Uselessness</th>
			<th>Content</th>
			<th>Pluses</th>
			<th>Minuses</th>
		</tr>
		{% for opinion in product.opinions %}
		<tr>
			<td>{{opinion["id"]}}</td>
			<td>{{opinion["author"]}}</td>
			<td>{{opinion["recommendation"]}}</td>
			<td>{{opinion["score"]}}</td>
			<td>{{opinion["isPurchaseConfirmed"]}}</td>
			<td>{{opinion["dateOpinionWritten"]}}</td>
			<td>{{opinion["dateProductBought"]}}</td>
			<td>{{opinion["votesYes"]}}</td>
			<td>{{opinion["votesNo"]}}</td>
			<td>{{opinion["content"]}}</td>
			<td>{{opinion["pluses"]}}</td>
			<td>{{opinion["minuses"]}}</td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
