{% extends 'base.html'%} {% block head %}
<title>Product {{product.id}}</title>
{% endblock %} {% block body %}

<div class="flex flex-col grow items-center px-5 py-10">
	<h2 class="text-xl font-bold text-[#344055] mb-4">
		Product #{{product.id}}: {{product.name}}
	</h2>
	<form
		action="{{url_for(request.endpoint, **request.view_args)}}"
		class="pb-4"
	>
		<input
			type="text"
			name="filter"
			placeholder="Insert filter text..."
			class="border-2 border-[#B8C0D8] w-[15rem] text-xl py-1 rounded-md px-2 py-1"
		/>
		<select
			name="column"
			class="border-2 border-[#B8C0D8] text-xl py-1 rounded-md px-2 py-1"
		>
			<option value="id" selected>id</option>
			<option value="author">Author</option>
			<option value="recommendation">Recommendation</option>
			<option value="score">Score</option>
			<option value="isPurchaseConfirmed">Confirmed purchase</option>
			<option value="dateOpinionWritten">Review date</option>
			<option value="dateProductBought">Purchase date</option>
			<option value="votesYes">Usefulness</option>
			<option value="votesNo">Uselessness</option>
			<option value="content">Content</option>
			<option value="upsides">Upsides</option>
			<option value="downsides">Downsides</option>
		</select>
		<button
			type="submit"
			class="bg-[#4392F1] py-1 px-5 text-xl text-[#ffffff] rounded-md inline-block active:scale-90 transition-all duration-200"
		>
			Filter
		</button>
	</form>
	<div class="text-sm text-center w-full max-h-screen overflow-scroll">
		{{ table }}
	</div>
	<div>
		<a
			class="bg-[#4392F1] py-2 px-4 text-md text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200"
			href="/download-json/{{product.id}}"
			>Download json</a
		>
		<a
			class="bg-[#344055] py-2 px-4 text-md text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200"
			href="/download-csv/{{product.id}}"
			>Download csv</a
		>
		<a
			class="bg-[#FE5F55] py-2 px-4 text-md text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200"
			href="/download-xlsx/{{product.id}}"
			>Download xls</a
		>
	</div>
	<div>
		<a
			class="bg-[#4392F1] py-2 px-4 text-md text-[#ffffff] rounded-md inline-block mt-4 active:scale-90 transition-all duration-200"
			href="/charts/{{product.id}}"
			>Charts</a
		>
	</div>
</div>

{% endblock %}
